name: Sync Dashboard
on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Run Script
        run: python tracker.py
      - name: Publish
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add index.html data.json history.json
          git commit -m "Update crypto data" || exit 0
          git push
